
.div-header{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d60a0a;
    color: #ffffff;

.title-header{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.logo-pj{
    width: 10%;
}

}